@import './variables';

@mixin dashboard-section($variant: 'big') {
	margin-top: $gap;
	background-color: $bg-block;
	border-radius: $radius;

	@if $variant == small {
		padding: 18px 26px;
	} @else {
		padding: 20px 25px;
	}
}

@mixin flex-horizontal-center {
	display: flex;
	align-items: center;
}

@mixin transition($property: all) {
	transition: $property 0.3s ease-in-out;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
