$font: 'Rubik', sans-serif;

$primary: #917cff;
$secondary: #08f0c8;
$bg-block: #181a1e;
$text-gray: #4f5157;
$gray: #181a1e;
$white: #fdfdfd;
$blue: #339AF0;
$yellow: #d8e612;
$red: #de3e3e;
$disabled: #424244;
$black: #000;
$light-gray: #ddd;

$radius: 0.7rem;
$gap: 30px;
