.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.row {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  &:last-child {
    column-gap: 0.3rem;
    margin-top: 1rem;
  }
}
input[type='color'] {
  padding: 0;
}
