.table {
  color: #fff;
  background-color: maroon;
  border: none;
  margin-top: 20px;
  width: 50%;
  font-size: 16px;
  text-align: center;
  white-space: wrap;
  border-spacing: 0px;
  border-radius: 3px;
}

.table .th {
  background-color: maroon;
  padding: 5px;
  border-radius: 3px;
}

.tr {
  background-color: #000;
  padding: 5px;
  border: 1px solid #b9d024;
  border-collapse: collapse;
}
.svg-wrapper {
  position: relative;
}
.td .carSvg {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
}
.td {
  padding: 20px;
}